<h1>Sign In</h1>
<%= form_with url: sign_in_path do |form|%>
<div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: "email@example.com", required: true, class: "form-control" %>
    </div>

    <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, required: true, class: "form-control", placeholder: "password" %>
    <%= link_to "Forgot your password?", password_reset_path, class: "float-end" %>
    </div>

    <div class="mb-3">
    <%= form.submit "Sign In", class: "btn btn-primary" %>
    </div>

 <% end %>

<div class="text-center my-4">
  <hr>
  <p class="text-muted">veya</p>
</div>

<div class="d-grid gap-2">
  <%= link_to "/auth/x", class: "btn btn-dark" do %>
    <svg width="16" height="16" fill="currentColor" class="bi bi-twitter-x me-2" viewBox="0 0 16 16">
      <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.6.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
    </svg>
    X ile Giriş Yap
  <% end %>
</div>